Package: system-upgrade
Version: 1.0.4
Depends: yad
Architecture: all
Maintainer: Elton Fabricio <https://github.com/eltonfabricio10>
Section: admin
Priority: optional
Installed-Size:68
Description: Update notifier to Debian based
Replaces:system-upgrade
Conflicts:system-upgrade

