#!/usr/bin/env xdg-open
[Desktop Entry]
Name=System Upgrade
GenericName=System Upgrade
Name[pt_BR]=Atualizações do Sistema
Comment=System upgrade
Comment[pt_BR]=Verificação das atualizações do sistema
Exec=/usr/bin/system-upgrade --gui
Icon=system-software-update
Terminal=false
Type=Application
Categories=Applications;System

